{% extends 'main/base.html.twig' %}

{% block title %}Homepage - RankedChoice{% endblock %}
{% block page_keywords %}Jeans, Jackets{% endblock %}
{% block page_description %}Main page of RankedChoice shop!{% endblock %}

{% block body %}
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-lg-6">
                <h2>Edit product</h2>
                {{ form_start(form) }}

                <div class="form-control">
                    <i class="fa fa-calendar"></i> {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}

                    <small>{{ form_help(form.title) }}</small>

                    <div class="form-error">
                        {{ form_errors(form.title) }}
                    </div>
                </div>

                {{ form_row(form.price) }}
                {{ form_row(form.quantity) }}
                {{ form_row(form.description) }}
                {{ form_row(form.isPublished) }}
                {{ form_row(form.isDeleted) }}

                <input type="submit" value="Send">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
